body {
  margin: 0;
  font-family: Arial;
}

.sidebar {
  width: 33.3333%;
}

.container {
  max-width: 1170px;
  display: block;
  margin: 0 auto;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.canvas-block {
  width: 600px;
  height: 300px;
  border: 3px solid black;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
}

.paint {
  margin-top: 4rem;
  padding: 40px;
  .options {
    float: left;
    input {
      display: block;
    }
    .color {
      padding-left: 0;
    }
  }
}

.same-style {
  height: 36px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.img-list {
  display: block;
  width: 400px;
  border: 2px solid #000;
  padding: 10px;
  .list-button {
    padding: 10px 15px;
    border-bottom: 1px solid #000;
    margin: 10px 5px;
    display: block;
    outline: none;
    border-radius: 5px;
  }
  .list-button__active-color {
    background: royalblue;
    color: #fff;
  }
}

.img-folder {
  display: block;
  width: 400px;
  height: 400px;
  padding: 10px;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.clearfix {
  clear: both;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.button__bg-color {
  background: #000;
}

.button__bottom-margin {
  margin-bottom: 25px;
}

.button__saturation-bg-color {
  background: green;
}

.not-active {
  display: none;
}
